.sidebar .sidebar-brand {
    font-size: .8rem;
}

.card-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol.breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
}

.img-200{
    min-width: 200px;
}

.no-margin {
    margin: 0;
}

.icon-big {
    font-size: 4rem;
}
