.sidebar .sidebar-brand {
    font-size: .8rem;
}

.card-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol.breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
}
